name: Deploy to Github Pages

# run when a commit is pushed to "source" branch
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # checkout to the commit that has been pushed
      - uses: actions/checkout@v6

      # install Hugo
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          hugo-version: "latest"
          extended: true

      - name: Update Hugo Modules
        run: hugo mod tidy

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - name: Install node modules
        run: |
          hugo mod npm pack
          npm install

      # build website
      - name: Build
        run: hugo --minify

      # push the generated content into the `main` (former `master`) branch.
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages # if your main branch is `master` use that here.
          publish_dir: ./public
